<%- include('header') -%>
    <body>
        <div class="box" id="heading">
            <h1><%= Heading %></heading></h1>
        </div>
        <div class="box">
            <p><%= Errormsg %></p>
            <a href="/"><button type="submit" name="ok" value="ok">OK</button></a>
        </div>        
    </body>
<%- include('footer') -%>