<!DOCTYPE html>
<html lang="en" dir="lr">
    <head>
        <meta charset="utf-8">
        <title>Bus-Ticket-Booking</title>
        <link rel="icon" href="img/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="css/styles.css">
    </head>