<!DOCTYPE html>
<html lang="en" dir="lr">
    <head>
        <meta charset="utf-8">
        <title>Bus-Ticket-Booking</title>
        <link rel="stylesheet" href="css/homeStyle.css">
        <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <div class="container">
            <div class="box" id="l">
                <a href="/book">
                    <h1>Book Ticket</h1>
                    <p>Book your tickets!</p>
                </a>
            </div>
            <div class="box" id="r">
                <a href="/myBookings">
                    <h1>My Bookings</h1>
                    <p>See your booked tickets</p>
                </a>
            </div>
        </div>
    </body>
</html>

