<%- include('header') -%>
    <body>
        <div class="box" id="heading">
            <h1><%=Heading %></h1>
        </div>
        <div class="box">
            <form class="item" action="/signup" method="post">
                <input type="text" name="username" placeholder="Username" autocomplete="off" required="">
                <input type="password" name="password" placeholder="Password" autocomplete="off" required="">
                <button name="signup" type="submit" value="SignUp">SignUp</button>
            </form>
        </div>        
    </body>
<%- include('footer') -%>