body {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #FF6969 50%, #FFF5E0 50%);
  min-height: 100vh; 
  font-family: 'Helvetica Neue', sans-serif; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/* Style for the container */
.box {
  width: 300px; 
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #3F2E3E;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

/* Style for the form */
.item {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center form items horizontally */
}

/* Style for the input fields */
.item input{
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%; /* Take up full width */
}

/* Style for the buttons */
.item button {
  margin: 10px 0;
  padding: 10px;
  background-color: #C70039; /* Change the background color as desired */
  font-weight:800;
  color: #ffffff; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%; 
}

/* Style for the heading */
h1 {
  color: #ffffff; 
  text-align: center;
}


/* Placeholder style */
::placeholder {
  color: grey;
  opacity: 0.6; 
}

/* Style for the footer */
footer {
  color: rgba(0, 0, 0, 0.5); /* Text color for the footer */
  text-align: center;
  margin-top: 20px; 
}
p{
  color: white;
}
p a{
  color:#FFF5E0;
}
 button{
  margin: 10px 0;
  padding: 10px;
  background-color: #C70039; 
  font-weight:800;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
 }